---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits/0f91c0c7bed602604886fe43be7819f7171bea2b/pulls
        method: GET
      response:
        body: '[{"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/7","id":1386722707,"node_id":"PR_kwDOJsozp85Sp7WT","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/7","diff_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/7.diff","patch_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/7.patch","issue_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/7","number":7,"state":"open","locked":false,"title":"feat: open pull request","user":{"login":"alexashley","id":9082799,"node_id":"MDQ6VXNlcjkwODI3OTk=","avatar_url":"https://avatars.githubusercontent.com/u/9082799?v=4","gravatar_id":"","url":"https://api.github.com/users/alexashley","html_url":"https://github.com/alexashley","followers_url":"https://api.github.com/users/alexashley/followers","following_url":"https://api.github.com/users/alexashley/following{/other_user}","gists_url":"https://api.github.com/users/alexashley/gists{/gist_id}","starred_url":"https://api.github.com/users/alexashley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexashley/subscriptions","organizations_url":"https://api.github.com/users/alexashley/orgs","repos_url":"https://api.github.com/users/alexashley/repos","events_url":"https://api.github.com/users/alexashley/events{/privacy}","received_events_url":"https://api.github.com/users/alexashley/received_events","type":"User","site_admin":false},"body":"⚠️ This is a fixture for integration tests. Changing the pull request status will not affect the tests, but may affect the ability to re-generate test fixture data.","created_at":"2023-06-09T20:55:17Z","updated_at":"2023-06-09T20:55:17Z","closed_at":null,"merged_at":null,"merge_commit_sha":"1f63b95bd677cc8f9632cddbdad6c8c0ae7e7d9f","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/7/commits","review_comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/7/comments","review_comment_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/comments{/number}","comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/7/comments","statuses_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/statuses/0f91c0c7bed602604886fe43be7819f7171bea2b","head":{"label":"liatrio:open","ref":"open","sha":"0f91c0c7bed602604886fe43be7819f7171bea2b","user":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https://api.github.com/users/liatrio/gists{/gist_id}","starred_url":"https://api.github.com/users/liatrio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liatrio/subscriptions","organizations_url":"https://api.github.com/users/liatrio/orgs","repos_url":"https://api.github.com/users/liatrio/repos","events_url":"https://api.github.com/users/liatrio/events{/privacy}","received_events_url":"https://api.github.com/users/liatrio/received_events","type":"Organization","site_admin":false},"repo":{"id":650785703,"node_id":"R_kgDOJsozpw","name":"pr-attestation-fixtures","full_name":"liatrio/pr-attestation-fixtures","private":false,"owner":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https://api.github.com/users/liatrio/gists{/gist_id}","starred_url":"https://api.github.com/users/liatrio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liatrio/subscriptions","organizations_url":"https://api.github.com/users/liatrio/orgs","repos_url":"https://api.github.com/users/liatrio/repos","events_url":"https://api.github.com/users/liatrio/events{/privacy}","received_events_url":"https://api.github.com/users/liatrio/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/liatrio/pr-attestation-fixtures","description":null,"fork":false,"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures","forks_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/forks","keys_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/keys{/key_id}","collaborators_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/teams","hooks_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/hooks","issue_events_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/events{/number}","events_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/events","assignees_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/assignees{/user}","branches_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/branches{/branch}","tags_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/tags","blobs_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/refs{/sha}","trees_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/trees{/sha}","statuses_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/statuses/{sha}","languages_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/languages","stargazers_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/stargazers","contributors_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/contributors","subscribers_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/subscribers","subscription_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/subscription","commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits{/sha}","git_commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/commits{/sha}","comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/comments{/number}","issue_comment_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/comments{/number}","contents_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/contents/{+path}","compare_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/compare/{base}...{head}","merges_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/merges","archive_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/downloads","issues_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues{/number}","pulls_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls{/number}","milestones_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/milestones{/number}","notifications_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/labels{/name}","releases_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/releases{/id}","deployments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/deployments","created_at":"2023-06-07T20:02:04Z","updated_at":"2024-03-11T14:10:48Z","pushed_at":"2024-03-02T11:16:09Z","git_url":"git://github.com/liatrio/pr-attestation-fixtures.git","ssh_url":"git@github.com:liatrio/pr-attestation-fixtures.git","clone_url":"https://github.com/liatrio/pr-attestation-fixtures.git","svn_url":"https://github.com/liatrio/pr-attestation-fixtures","homepage":"","size":9,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["automated-governance","noarchive"],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"main"}},"base":{"label":"liatrio:main","ref":"main","sha":"b178ace6bbd65197ea3ceaf425e14b46f7f50c92","user":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https[...]
