---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits/b178ace6bbd65197ea3ceaf425e14b46f7f50c92/pulls?state=closed
        method: GET
      response:
        body: '[{"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/6","id":1383328513,"node_id":"PR_kwDOJsozp85Sc-sB","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/6","diff_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/6.diff","patch_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/6.patch","issue_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/6","number":6,"state":"closed","locked":false,"title":"feat: multiple reviews changes requested","user":{"login":"alexashley","id":9082799,"node_id":"MDQ6VXNlcjkwODI3OTk=","avatar_url":"https://avatars.githubusercontent.com/u/9082799?v=4","gravatar_id":"","url":"https://api.github.com/users/alexashley","html_url":"https://github.com/alexashley","followers_url":"https://api.github.com/users/alexashley/followers","following_url":"https://api.github.com/users/alexashley/following{/other_user}","gists_url":"https://api.github.com/users/alexashley/gists{/gist_id}","starred_url":"https://api.github.com/users/alexashley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexashley/subscriptions","organizations_url":"https://api.github.com/users/alexashley/orgs","repos_url":"https://api.github.com/users/alexashley/repos","events_url":"https://api.github.com/users/alexashley/events{/privacy}","received_events_url":"https://api.github.com/users/alexashley/received_events","type":"User","site_admin":false},"body":null,"created_at":"2023-06-07T20:26:03Z","updated_at":"2023-06-07T20:53:11Z","closed_at":"2023-06-07T20:53:08Z","merged_at":"2023-06-07T20:53:08Z","merge_commit_sha":"b178ace6bbd65197ea3ceaf425e14b46f7f50c92","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/6/commits","review_comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/6/comments","review_comment_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/comments{/number}","comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/6/comments","statuses_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/statuses/64f083344f062836ae87c38ca3438fdc5a3b3c31","head":{"label":"liatrio:multiple-reviews-changes-requested","ref":"multiple-reviews-changes-requested","sha":"64f083344f062836ae87c38ca3438fdc5a3b3c31","user":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https://api.github.com/users/liatrio/gists{/gist_id}","starred_url":"https://api.github.com/users/liatrio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liatrio/subscriptions","organizations_url":"https://api.github.com/users/liatrio/orgs","repos_url":"https://api.github.com/users/liatrio/repos","events_url":"https://api.github.com/users/liatrio/events{/privacy}","received_events_url":"https://api.github.com/users/liatrio/received_events","type":"Organization","site_admin":false},"repo":{"id":650785703,"node_id":"R_kgDOJsozpw","name":"pr-attestation-fixtures","full_name":"liatrio/pr-attestation-fixtures","private":false,"owner":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https://api.github.com/users/liatrio/gists{/gist_id}","starred_url":"https://api.github.com/users/liatrio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liatrio/subscriptions","organizations_url":"https://api.github.com/users/liatrio/orgs","repos_url":"https://api.github.com/users/liatrio/repos","events_url":"https://api.github.com/users/liatrio/events{/privacy}","received_events_url":"https://api.github.com/users/liatrio/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/liatrio/pr-attestation-fixtures","description":null,"fork":false,"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures","forks_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/forks","keys_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/keys{/key_id}","collaborators_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/teams","hooks_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/hooks","issue_events_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/events{/number}","events_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/events","assignees_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/assignees{/user}","branches_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/branches{/branch}","tags_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/tags","blobs_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/refs{/sha}","trees_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/trees{/sha}","statuses_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/statuses/{sha}","languages_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/languages","stargazers_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/stargazers","contributors_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/contributors","subscribers_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/subscribers","subscription_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/subscription","commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits{/sha}","git_commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/commits{/sha}","comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/comments{/number}","issue_comment_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/comments{/number}","contents_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/contents/{+path}","compare_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/compare/{base}...{head}","merges_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/merges","archive_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/downloads","issues_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues{/number}","pulls_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls{/number}","milestones_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/milestones{/number}","notifications_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/labels{/name}","releases_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/releases{/id}","deployments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/deployments","created_at":"2023-06-07T20:02:04Z","updated_at":"2023-06-07T20:02:31Z","pushed_at":"2023-06-07T20:53:11Z","git_url":"git://github.com/liatrio/pr-attestation-fixtures.git","ssh_url":"git@github.com:liatrio/pr-attestation-fixtures.git","clone_url":"https://github.com/liatrio/pr-attestation-fixtures.git","svn_url":"https://github.com/liatrio/pr-attestation-fixtures","homepage":"","size":6,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["noarchive"],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main"}},"base":{"label":"liatrio:main","ref":"main","sha":"78b908478388ef75f6f0f62ad6494733103860ec","user":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https[...]
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/6
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/6","id":1383328513,"node_id":"PR_kwDOJsozp85Sc-sB","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/6[...]
    - id: 2
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/6/commits
        method: GET
      response:
        body: '[{"sha":"64f083344f062836ae87c38ca3438fdc5a3b3c31","node_id":"C_kwDOJsozp9oAKDY0ZjA4MzM0NGYwNjI4MzZhZTg3YzM4Y2EzNDM4ZmRjNWEzYjNjMzE","commit":{"author":{"name":"Alex Ashley","email":"alexashley@users.noreply.github.com","date":"2023-06-07T20:25:58Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2023-06-07T20:25:58Z"},"message":"feat: multiple reviews changes requested","tree":{"sha":"9f27d3d870f4ec233268c189dd3402da1835e40a","url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/trees/9f27d3d870f4ec233268c189dd3402da1835e40a"},"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/commits/64f083344f062836ae87c38ca3438fdc5a3b3c31","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJkgOfWCRBK7hj4Ov3rIwAAD0MIAIFNrlv3JuYdEpOfQmJNxH/R\ngWa6Fvuzs6njPqIaHbqugHvKxPo9/oL9dEXomFJBjqDTm0aGLZjnHteW2WQcW03D\ndfkPxwMgxlBLdANq2xeue+FVUfPuJrmhuY+2qFcZPGn+00tsuFIjHFoMAbrh2OR/\n2w1fWtLdFsEHfGJEW+xbzXYwoLSi+o5m2rZTkd3AztzisdXl3Z5BLZbOzrUrZk3r\nSgMq1Jt3LQvPqE7NlPRIhUFSIy20Qu4GY3PMg9m0wyI31C3bmIcvLAXauGDJu2bv\nVmNcM1Vij9+KvPfyI9RTmCDVZfMoPHgSVPmYngdRPVJchn0Gd894CRDYF0VQyQY=\n=y5/v\n-----END PGP SIGNATURE-----\n","payload":"tree 9f27d3d870f4ec233268c189dd3402da1835e40a\nparent 78b908478388ef75f6f0f62ad6494733103860ec\nauthor Alex Ashley <alexashley@users.noreply.github.com> 1686169558 -0400\ncommitter GitHub <noreply@github.com> 1686169558 -0400\n\nfeat: multiple reviews changes requested"}},"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits/64f083344f062836ae87c38ca3438fdc5a3b3c31","html_url":"https://github.com/liatrio/pr-attestation-fixtures/commit/64f083344f062836ae87c38ca3438fdc5a3b3c[...]
    - id: 3
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/6/reviews
        method: GET
      response:
        body: '[{"id":1468540827,"node_id":"PRR_kwDOJsozp85XiCeb","user":{"login":"rcoy-v","id":9846738,"node_id":"MDQ6VXNlcjk4NDY3Mzg=","avatar_url":"https://avatars.githubusercontent.com/u/9846738?u=60ab93e9034285576269ed5f3c1324b343f58565&v=4","gravatar_id":"","url":"https://api.github.com/users/rcoy-v","html_url":"https://github.com/rcoy-v","followers_url":"https://api.github.com/users/rcoy-v/followers","following_url":"https://api.github.com/users/rcoy-v/following{/other_user}","gists_url":"https://api.github.com/users/rcoy-v/gists{/gist_id}","starred_url":"https://api.github.com/users/rcoy-v/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rcoy-v/subscriptions","organizations_url":"https://api.github.com/users/rcoy-v/orgs","repos_url":"https://api.github.com/users/rcoy-v/repos","events_url":"https://api.github.com/users/rcoy-v/events{/privacy}","received_events_url":"https://api.github.com/users/rcoy-v/received_events","type":"User","site_admin":false},"body":"","state":"APPROVED","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/6#pullrequestreview-1468540827","pull_request_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/6","author_association":"MEMBER","_links":{"html":{"href":"https://github.com/liatrio/pr-attestation-fixtures/pull/6#pullrequestreview-1468540827"},"pull_request":{"href":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/6"}},"submitted_at":"2023-06-07T20:48:51Z","commit_id":"64f083344f062836ae87c38ca3438fdc5a3b3c31"},{"id":1468541063,"node_id":"PRR_kwDOJsozp85XiCiH","user":{"login":"rcoy-v","id":9846738,"node_id":"MDQ6VXNlcjk4NDY3Mzg=","avatar_url":"https://avatars.githubusercontent.com/u/9846738?u=60ab93e9034285576269ed5f3c1324b343f58565&v=4","gravatar_id":"","url":"https://api.github.com/users/rcoy-v","html_url":"https://github.com/rcoy-v","followers_url":"https://api.github.com/users/rcoy-v/followers","following_url":"https://api.github.com/users/rcoy-v/followin[...]
