---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits/88e6e324fd76aafcf624a862a2c8f8b4595cf1ad/pulls
        method: GET
      response:
        body: '[{"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/2","id":1383302226,"node_id":"PR_kwDOJsozp85Sc4RS","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/2","diff_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/2.diff","patch_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/2.patch","issue_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/2","number":2,"state":"closed","locked":false,"title":"feat: multiple reviews","user":{"login":"alexashley","id":9082799,"node_id":"MDQ6VXNlcjkwODI3OTk=","avatar_url":"https://avatars.githubusercontent.com/u/9082799?v=4","gravatar_id":"","url":"https://api.github.com/users/alexashley","html_url":"https://github.com/alexashley","followers_url":"https://api.github.com/users/alexashley/followers","following_url":"https://api.github.com/users/alexashley/following{/other_user}","gists_url":"https://api.github.com/users/alexashley/gists{/gist_id}","starred_url":"https://api.github.com/users/alexashley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexashley/subscriptions","organizations_url":"https://api.github.com/users/alexashley/orgs","repos_url":"https://api.github.com/users/alexashley/repos","events_url":"https://api.github.com/users/alexashley/events{/privacy}","received_events_url":"https://api.github.com/users/alexashley/received_events","type":"User","site_admin":false},"body":null,"created_at":"2023-06-07T20:09:48Z","updated_at":"2023-06-07T20:52:58Z","closed_at":"2023-06-07T20:52:54Z","merged_at":"2023-06-07T20:52:54Z","merge_commit_sha":"88e6e324fd76aafcf624a862a2c8f8b4595cf1ad","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/2/commits","review_comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/2/comments","review_comment_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/comments{/number}","comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/2/comments","statuses_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/statuses/f7e1b472973d1b82c42c383a38805f288000ea01","head":{"label":"liatrio:multiple-reviews","ref":"multiple-reviews","sha":"f7e1b472973d1b82c42c383a38805f288000ea01","user":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https://api.github.com/users/liatrio/gists{/gist_id}","starred_url":"https://api.github.com/users/liatrio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liatrio/subscriptions","organizations_url":"https://api.github.com/users/liatrio/orgs","repos_url":"https://api.github.com/users/liatrio/repos","events_url":"https://api.github.com/users/liatrio/events{/privacy}","received_events_url":"https://api.github.com/users/liatrio/received_events","type":"Organization","site_admin":false},"repo":{"id":650785703,"node_id":"R_kgDOJsozpw","name":"pr-attestation-fixtures","full_name":"liatrio/pr-attestation-fixtures","private":false,"owner":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https://api.github.com/users/liatrio/gists{/gist_id}","starred_url":"https://api.github.com/users/liatrio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liatrio/subscriptions","organizations_url":"https://api.github.com/users/liatrio/orgs","repos_url":"https://api.github.com/users/liatrio/repos","events_url":"https://api.github.com/users/liatrio/events{/privacy}","received_events_url":"https://api.github.com/users/liatrio/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/liatrio/pr-attestation-fixtures","description":null,"fork":false,"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures","forks_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/forks","keys_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/keys{/key_id}","collaborators_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/teams","hooks_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/hooks","issue_events_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/events{/number}","events_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/events","assignees_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/assignees{/user}","branches_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/branches{/branch}","tags_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/tags","blobs_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/refs{/sha}","trees_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/trees{/sha}","statuses_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/statuses/{sha}","languages_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/languages","stargazers_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/stargazers","contributors_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/contributors","subscribers_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/subscribers","subscription_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/subscription","commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits{/sha}","git_commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/commits{/sha}","comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/comments{/number}","issue_comment_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/comments{/number}","contents_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/contents/{+path}","compare_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/compare/{base}...{head}","merges_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/merges","archive_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/downloads","issues_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues{/number}","pulls_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls{/number}","milestones_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/milestones{/number}","notifications_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/labels{/name}","releases_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/releases{/id}","deployments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/deployments","created_at":"2023-06-07T20:02:04Z","updated_at":"2024-03-11T14:10:48Z","pushed_at":"2024-03-02T11:16:09Z","git_url":"git://github.com/liatrio/pr-attestation-fixtures.git","ssh_url":"git@github.com:liatrio/pr-attestation-fixtures.git","clone_url":"https://github.com/liatrio/pr-attestation-fixtures.git","svn_url":"https://github.com/liatrio/pr-attestation-fixtures","homepage":"","size":9,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["automated-governance","noarchive"],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"main"}},"base":{"label":"liatrio:main","ref":"main","sha":"d73bb613511d238bf2e379a9f10dd1ffdf1a8a21","user":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https[...]
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/2
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/2","id":1383302226,"node_id":"PR_kwDOJsozp85Sc4RS","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/2[...]
    - id: 2
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/2/commits
        method: GET
      response:
        body: '[{"sha":"f7e1b472973d1b82c42c383a38805f288000ea01","node_id":"C_kwDOJsozp9oAKGY3ZTFiNDcyOTczZDFiODJjNDJjMzgzYTM4ODA1ZjI4ODAwMGVhMDE","commit":{"author":{"name":"Alex Ashley","email":"alexashley@users.noreply.github.com","date":"2023-06-07T20:09:34Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2023-06-07T20:09:34Z"},"message":"Create multiple-reviews.txt","tree":{"sha":"9203adca51f40597382949c0b3097a13561ce551","url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/trees/9203adca51f40597382949c0b3097a13561ce551"},"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/commits/f7e1b472973d1b82c42c383a38805f288000ea01","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJkgOP+CRBK7hj4Ov3rIwAAJaoIACXlsHRyUi2dt1TQCd8sw+yE\njz2nIHVL4S141n54a5NpTn+sbZI+YAswtbBi9NFp9yuUYfAS0DZknm2iXRE9/4gF\nvm1CAuqwTBb8CQNc8MceH8OopNO5vWZU5H1R3DC90iuNWXyApSufdmkIhyqNazZi\nIKLp7/cDYe17B0OwoxJH7CHFN0aZ4rkQszLtvBMku+i5s0dvusREd3nABo2+mOXp\nlpCxkgwZBtbgXiX5Qsf07Lk9t4sOBW1iM9QEb/mYoW8DyuhdtuJ3qXFx06kkET9M\noKTShUksFcKrhEEQ0AeG15bj/cj56RxzGp6D4D4Ee23qAcmQH2jP2jdBw3lCDec=\n=wahx\n-----END PGP SIGNATURE-----\n","payload":"tree 9203adca51f40597382949c0b3097a13561ce551\nparent d73bb613511d238bf2e379a9f10dd1ffdf1a8a21\nauthor Alex Ashley <alexashley@users.noreply.github.com> 1686168574 -0400\ncommitter GitHub <noreply@github.com> 1686168574 -0400\n\nCreate multiple-reviews.txt"}},"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits/f7e1b472973d1b82c42c383a38805f288000ea01","html_url":"https://github.com/liatrio/pr-attestation-fixtures/commit/f7e1b472973d1b82c42c383a38805f288000ea01","comments[...]
    - id: 3
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/2/reviews
        method: GET
      response:
        body: '[{"id":1468479680,"node_id":"PRR_kwDOJsozp85XhzjA","user":{"login":"alexashley","id":9082799,"node_id":"MDQ6VXNlcjkwODI3OTk=","avatar_url":"https://avatars.githubusercontent.com/u/9082799?u=cd6e0aabde0450be0642c6f5952216dd765f5c83&v=4","gravatar_id":"","url":"https://api.github.com/users/alexashley","html_url":"https://github.com/alexashley","followers_url":"https://api.github.com/users/alexashley/followers","following_url":"https://api.github.com/users/alexashley/following{/other_user}","gists_url":"https://api.github.com/users/alexashley/gists{/gist_id}","starred_url":"https://api.github.com/users/alexashley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexashley/subscriptions","organizations_url":"https://api.github.com/users/alexashley/orgs","repos_url":"https://api.github.com/users/alexashley/repos","events_url":"https://api.github.com/users/alexashley/events{/privacy}","received_events_url":"https://api.github.com/users/alexashley/received_events","type":"User","site_admin":false},"body":"","state":"COMMENTED","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/2#pullrequestreview-1468479680","pull_request_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/2","author_association":"MEMBER","_links":{"html":{"href":"https://github.com/liatrio/pr-attestation-fixtures/pull/2#pullrequestreview-1468479680"},"pull_request":{"href":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/2"}},"submitted_at":"2023-06-07T20:10:38Z","commit_id":"f7e1b472973d1b82c42c383a38805f288000ea01"},{"id":1468532075,"node_id":"PRR_kwDOJsozp85XiAVr","user":{"login":"rcoy-v","id":9846738,"node_id":"MDQ6VXNlcjk4NDY3Mzg=","avatar_url":"https://avatars.githubusercontent.com/u/9846738?u=60ab93e9034285576269ed5f3c1324b343f58565&v=4","gravatar_id":"","url":"https://api.github.com/users/rcoy-v","html_url":"https://github.com/rcoy-v","followers_url":"https://api.github.com/users/rcoy-v/followers","following_url":"https://api.github.com/users/rcoy-v/followin[...]
