---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits/04a2451c14b44988942695f0407fbe82eeaf802a/pulls
        method: GET
      response:
        body: '[{"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/5","id":1383319019,"node_id":"PR_kwDOJsozp85Sc8Xr","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/5","diff_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/5.diff","patch_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/5.patch","issue_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/5","number":5,"state":"closed","locked":false,"title":"feat: approved change","user":{"login":"alexashley","id":9082799,"node_id":"MDQ6VXNlcjkwODI3OTk=","avatar_url":"https://avatars.githubusercontent.com/u/9082799?v=4","gravatar_id":"","url":"https://api.github.com/users/alexashley","html_url":"https://github.com/alexashley","followers_url":"https://api.github.com/users/alexashley/followers","following_url":"https://api.github.com/users/alexashley/following{/other_user}","gists_url":"https://api.github.com/users/alexashley/gists{/gist_id}","starred_url":"https://api.github.com/users/alexashley/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alexashley/subscriptions","organizations_url":"https://api.github.com/users/alexashley/orgs","repos_url":"https://api.github.com/users/alexashley/repos","events_url":"https://api.github.com/users/alexashley/events{/privacy}","received_events_url":"https://api.github.com/users/alexashley/received_events","type":"User","site_admin":false},"body":null,"created_at":"2023-06-07T20:19:52Z","updated_at":"2023-06-07T20:48:20Z","closed_at":"2023-06-07T20:48:16Z","merged_at":"2023-06-07T20:48:16Z","merge_commit_sha":"04a2451c14b44988942695f0407fbe82eeaf802a","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/5/commits","review_comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/5/comments","review_comment_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/comments{/number}","comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/5/comments","statuses_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/statuses/674d43d9ee73d89cb6df22d5beb48f4261800b6e","head":{"label":"liatrio:approved","ref":"approved","sha":"674d43d9ee73d89cb6df22d5beb48f4261800b6e","user":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https://api.github.com/users/liatrio/gists{/gist_id}","starred_url":"https://api.github.com/users/liatrio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liatrio/subscriptions","organizations_url":"https://api.github.com/users/liatrio/orgs","repos_url":"https://api.github.com/users/liatrio/repos","events_url":"https://api.github.com/users/liatrio/events{/privacy}","received_events_url":"https://api.github.com/users/liatrio/received_events","type":"Organization","site_admin":false},"repo":{"id":650785703,"node_id":"R_kgDOJsozpw","name":"pr-attestation-fixtures","full_name":"liatrio/pr-attestation-fixtures","private":false,"owner":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https://api.github.com/users/liatrio/gists{/gist_id}","starred_url":"https://api.github.com/users/liatrio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liatrio/subscriptions","organizations_url":"https://api.github.com/users/liatrio/orgs","repos_url":"https://api.github.com/users/liatrio/repos","events_url":"https://api.github.com/users/liatrio/events{/privacy}","received_events_url":"https://api.github.com/users/liatrio/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/liatrio/pr-attestation-fixtures","description":null,"fork":false,"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures","forks_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/forks","keys_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/keys{/key_id}","collaborators_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/teams","hooks_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/hooks","issue_events_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/events{/number}","events_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/events","assignees_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/assignees{/user}","branches_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/branches{/branch}","tags_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/tags","blobs_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/refs{/sha}","trees_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/trees{/sha}","statuses_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/statuses/{sha}","languages_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/languages","stargazers_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/stargazers","contributors_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/contributors","subscribers_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/subscribers","subscription_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/subscription","commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits{/sha}","git_commits_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/commits{/sha}","comments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/comments{/number}","issue_comment_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues/comments{/number}","contents_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/contents/{+path}","compare_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/compare/{base}...{head}","merges_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/merges","archive_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/downloads","issues_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/issues{/number}","pulls_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls{/number}","milestones_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/milestones{/number}","notifications_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/labels{/name}","releases_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/releases{/id}","deployments_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/deployments","created_at":"2023-06-07T20:02:04Z","updated_at":"2024-03-11T14:10:48Z","pushed_at":"2024-03-02T11:16:09Z","git_url":"git://github.com/liatrio/pr-attestation-fixtures.git","ssh_url":"git@github.com:liatrio/pr-attestation-fixtures.git","clone_url":"https://github.com/liatrio/pr-attestation-fixtures.git","svn_url":"https://github.com/liatrio/pr-attestation-fixtures","homepage":"","size":9,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":2,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["automated-governance","noarchive"],"visibility":"public","forks":0,"open_issues":2,"watchers":0,"default_branch":"main"}},"base":{"label":"liatrio:main","ref":"main","sha":"78b908478388ef75f6f0f62ad6494733103860ec","user":{"login":"liatrio","id":5726618,"node_id":"MDEyOk9yZ2FuaXphdGlvbjU3MjY2MTg=","avatar_url":"https://avatars.githubusercontent.com/u/5726618?v=4","gravatar_id":"","url":"https://api.github.com/users/liatrio","html_url":"https://github.com/liatrio","followers_url":"https://api.github.com/users/liatrio/followers","following_url":"https://api.github.com/users/liatrio/following{/other_user}","gists_url":"https[...]
    - id: 1
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/5
        method: GET
      response:
        body: '{"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/5","id":1383319019,"node_id":"PR_kwDOJsozp85Sc8Xr","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/5[...]
    - id: 2
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/5/commits
        method: GET
      response:
        body: '[{"sha":"674d43d9ee73d89cb6df22d5beb48f4261800b6e","node_id":"C_kwDOJsozp9oAKDY3NGQ0M2Q5ZWU3M2Q4OWNiNmRmMjJkNWJlYjQ4ZjQyNjE4MDBiNmU","commit":{"author":{"name":"Alex Ashley","email":"alexashley@users.noreply.github.com","date":"2023-06-07T20:19:49Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2023-06-07T20:19:49Z"},"message":"feat: approved change","tree":{"sha":"2588a205ba341b5b75aeeece40b1496c1469badd","url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/trees/2588a205ba341b5b75aeeece40b1496c1469badd"},"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/git/commits/674d43d9ee73d89cb6df22d5beb48f4261800b6e","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJkgOZlCRBK7hj4Ov3rIwAAtiQIADammC/fG0sMarPS+DW0uz4Q\nHae6f7MIIDLlr+oxJ0VWovoDtSRebWO5bCa514KexV8aqB0EB9C2/kvI0m0Ze/dI\nUPJEZPYCSS2G5E+ND8Ep7Wkam9Xecxapt0UFiLd3qaJnn+knRFTZuLrnPTtLl+LC\n1KNBb8pXTR0gsiSYwpGIgEb5b3uqjYmEjhF42jp+4ePgk6GFBMBrAsDs40wQhTtI\nTrsicK6qeDvpRMr5oAMwRURCZ4McXdPgKNqZydLaZgfXlYbpEgGn24UEogOkCLb7\ns0hgJPZ3YguIwmf/D87aCRAtUKlBFQxjYmXBHg/mn8fFHL/CZWC8cfzFaHoM5lY=\n=ZCq0\n-----END PGP SIGNATURE-----\n","payload":"tree 2588a205ba341b5b75aeeece40b1496c1469badd\nparent 78b908478388ef75f6f0f62ad6494733103860ec\nauthor Alex Ashley <alexashley@users.noreply.github.com> 1686169189 -0400\ncommitter GitHub <noreply@github.com> 1686169189 -0400\n\nfeat: approved change"}},"url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/commits/674d43d9ee73d89cb6df22d5beb48f4261800b6e","html_url":"https://github.com/liatrio/pr-attestation-fixtures/commit/674d43d9ee73d89cb6df22d5beb48f4261800b6e","comments_url":[...]
    - id: 3
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/5/reviews
        method: GET
      response:
        body: '[{"id":1468532527,"node_id":"PRR_kwDOJsozp85XiAcv","user":{"login":"rcoy-v","id":9846738,"node_id":"MDQ6VXNlcjk4NDY3Mzg=","avatar_url":"https://avatars.githubusercontent.com/u/9846738?u=60ab93e9034285576269ed5f3c1324b343f58565&v=4","gravatar_id":"","url":"https://api.github.com/users/rcoy-v","html_url":"https://github.com/rcoy-v","followers_url":"https://api.github.com/users/rcoy-v/followers","following_url":"https://api.github.com/users/rcoy-v/following{/other_user}","gists_url":"https://api.github.com/users/rcoy-v/gists{/gist_id}","starred_url":"https://api.github.com/users/rcoy-v/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rcoy-v/subscriptions","organizations_url":"https://api.github.com/users/rcoy-v/orgs","repos_url":"https://api.github.com/users/rcoy-v/repos","events_url":"https://api.github.com/users/rcoy-v/events{/privacy}","received_events_url":"https://api.github.com/users/rcoy-v/received_events","type":"User","site_admin":false},"body":"","state":"APPROVED","html_url":"https://github.com/liatrio/pr-attestation-fixtures/pull/5#pullrequestreview-1468532527","pull_request_url":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/5","author_association":"NONE","_links":{"html":{"href":"https://github.com/liatrio/pr-attestation-fixtures/pull/5#pullrequestreview-1468532527"},"pull_request":{"href":"https://api.github.com/repos/liatrio/pr-attestation-fixtures/pulls/5"}},"submitted_at":"2023-06-07T20:42:51Z","commit_id":"674d43d9ee73d89cb6df22d5beb48f4261800b6e"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"65debdf5df74bfcc1da0fa749bcf708a46a1b63e53c02ba2583ec7c185f695da"
            Github-Authentication-Token-Expiration:
                - 2024-04-10 10:38:53 -0400
            X-Accepted-Github-Permissions:
                - pull_requests=read
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4967"
            X-Ratelimit-Reset:
                - "1710171697"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "33"
        status: 200 OK
        code: 200
        duration: 235.452291ms
